/*==================================layout view================================*/
* {
    font-family: digital-7;
}


.tab_s,
.tab_f,
.tab_t {
    float: right;
    border: 2px solid #ccc;
    margin: 1px -0.1px 1px;
    width: 18.6%;
    position: relative;
    border-bottom: none;
    top: -28.3px;
    cursor: pointer;
}

.tab_s:hover,
.tab_f:hover,
.tab_t:hover {
    background-color: orange;
}

div.contact_us-tmp label:nth-of-type(2) {
    margin-left: 0.7em;
}


div.contact_us-tmp label:first-of-type {
    margin-left: 0.06em;
}

.contact_us-tmp {
    min-width: 26%;
    margin-top: 6em !important;
}

.forms {
    width: 100%;
    text-align: center;
    padding: 0;
}

.contact_us-tmp span {
    display: block;
    color: red;
    text-align: center;
    margin: 0 auto;
    width: 85%;
}

span.required {
    display: inline;
}

.about p {
    text-align: center;
}

.about {
    color: black;
    width: 100%;
    text-align: center;
    margin: 3.5em auto;
}

.article_about {
    width: 75%;
    margin: 0 auto;
}

.image_about {
    width: 26%;
    margin-left: 0.9em;
    margin: 0 auto;
    box-shadow: 0px 0px 1px 1px gray;
}

.search-tpl {
    width: 100%;
    display: block;
}

footer>a:hover {
    color: #adff2f;
    text-decoration: none;
}

footer>a {
    color: white;
}

footer>span:hover {
    color: #adff2f !important;
}


li.img-logo {
    width: 13%;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    margin: 9px auto;
}

p.form_hide {
    margin: 0;
}

body {
    margin: 0; padding: 0;
    color: white;
    background: #111;
}

/* container */
div.container {
    background: white; border-radius: 0.2em; overflow: auto;
}

/*base content */
div.content {
    z-index: 3; color: gray;
}

/* footer menu tab link */
ul.menu > li.tab > a {
    text-decoration: none; clear: both;
}

/* footer menu tab link:hover */
ul.menu li.tab a:hover {
    text-shadow: 0 0.1em 1em gray; color: greenyellow; opacity: 1;
    text-decoration: none;
}

ul.menu > li.total-items > span {
    color: lightgray;
}

span.tab.products.search>a:hover {
    color: #adff2f;
    text-decoration: none;
}


a.title_font {
    color: white;
    font-size: 1.2em;
}

/*=========================view finder wrapper global style=================*/

div.rectangle-bottom-left,
div.rectangle-bottom-right,
div.rectangle-top-left,
div.rectangle-top-right {
    border-radius: 5px;
    transition: all 400ms;

}

/*-------------------view finder wrapper left side------------ */

div.rectangle-bottom-left,
div.rectangle-top-left {
    border-left: 5px solid black;
}

/*-------------------view finder wrapper right side----------- */

div.rectangle-top-right,
div.rectangle-bottom-right {
    border-right: 5px solid black;
}

div.rectangle-top-left {
    border-top: 5px solid black;
}

div.rectangle-bottom-left {
    border-bottom: 5px solid black;
}

div.rectangle-top-right {
    border-top: 5px solid black;
}

div.rectangle-bottom-right {
    border-bottom: 5px solid black
}
/*================================home template================================*/


.carusel:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    opacity: 1;
}

/*================================login tpl && forgot-password tpl=============*/
.login-tmp,
.forgot_password_tab,
.contact_us-tmp{
    border: 1px solid lightgray; transition: all 200ms; border-radius: 0.3em;
}

div.login-tmp:hover,
div.forgot_password_tab:hover,
div.category:hover,
a.category:hover,
div.product-style:hover,
div.edit-tpl:hover,
div.edit-tpl > form:hover,
div.checkout-tpl:hover,
div.order_summery table:hover,
div.order_summery .person_address:hover,
div.contact_us-tmp:hover,
div.items > div:hover {

    box-shadow: 0 0 0.05em 0.1em lightgray; z-index: 3; border: 0.15em solid red;
}

.submit-tab:hover,
input:focus {
    color: lightgreen; border-color: #009900;
}

div>form>label>input[type="radio"] {
    display: inline;
}

/*====================================edit template========================== */

div.edit-tpl {

    border: 1px solid lightgray; list-style: none; display: table; text-align: center; border-radius: 0.4em;


    box-shadow: 2px 1px lightgray;

}

form > div > .change,p.form_hide {
    color: red; cursor: pointer;
}

.article{
    margin: 0 auto;
    top: 17em;
    color: #333;
    opacity: 0.8;
    background: #bbb;
    min-width: 21%;
    position: relative;
    text-align: center;
    border-left: 2px solid red;
    border-right: 2px solid red;
    padding: 35px;
    font-size: 18px;
    border-radius: 18px;
    font-weight: bolder;
    display: none;
    width: 40%;
    box-shadow: inset 2px 1px 17px 9px #444;
    text-shadow: -2px 1px 1px lightgray;
}

.content .article {
}

.lightbox{
    position: fixed;
    width: 30%;
    right:35%;
    left:35%;
    top:25%;
    background: white;
    z-index: 3;
    border-radius: 1em;
    padding: 2em;
    border:0.3em solid red;
    box-shadow:  0 0 4em 0.2em gray;
}

div.edit-tpl > form > div > div.radio_gender > label {

    display: inline;
}

input[type^="submit"] {
    display: block;
    padding: 1px;
    color: black;
}

div.edit-tpl > form {
    border: 0.1em solid lightgray;
    float: left;
    border-radius: 0.4em;
    display: table;

    box-shadow: 1px 1px lightgray;
}

div.edit-tpl > form:last-of-type {
    display: table;
}

form > div > li:first-line {
    font-size: 1.05em;
    color: black;
}

form > div > li:last-of-type {
    cursor: pointer;
}

.edit-tpl form .form-wrapper li:last-of-type {
    color: green;
}

/*===================================== checkout tpl========================= */

div.checkout-tpl{
    font-size: 1em;
    border:0.2em solid lightgray;
    display: table;
    text-align: center;
    border-radius: 1em;
}

table>tbody>tr>td>input[type='text']{
    position: relative;

}
input[type='image']{
    background: transparent;
    border:0
}

tr>th,td>strong{
    font-size: 1.1em;
    text-align: center !important;
}

td.button-checkout{
    position: relative;

}

.login-tmp h2.login-title.centered.font_digital {
    display: block;
    color: black;
}
/*===================================== products  tpl========================= */

.products-btn > button:hover,Ã‚Â #checkout-form button:hover {
    background: orange;
}

.checkout-tpl input.order:hover,
div.order_summery input:hover,
div.payment_n_shipping input[type='submit']:hover

{
    background: orange !important;
}

.items h4 {
    color: red;
    font-size: 1.4em;
}


.login-tmp,
.forgot_password_tab,
div.contact_us-tmp,.checkout-tpl,
.person_address
{
    box-shadow: inset 1px 1px 36px 4px black;
}